<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xiaojian.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auth</display-name>
    <servlet-name>auth</servlet-name>
    <servlet-class>com.xiaojian.web.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addInsServlet</display-name>
    <servlet-name>addInsServlet</servlet-name>
    <servlet-class>com.xiaojian.web.addInsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addInsServlet</servlet-name>
    <url-pattern>/addInsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPositionServlet</display-name>
    <servlet-name>AddPositionServlet</servlet-name>
    <servlet-class>com.xiaojian.web.AddPositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPositionServlet</servlet-name>
    <url-pattern>/AddPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryItemServlet</display-name>
    <servlet-name>SalaryItemServlet</servlet-name>
    <servlet-class>com.xiaojian.web.SalaryItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryItemServlet</servlet-name>
    <url-pattern>/SalaryItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryStandardDetailServlet</display-name>
    <servlet-name>SalaryStandardDetailServlet</servlet-name>
    <servlet-class>com.xiaojian.web.SalaryStandardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryStandardDetailServlet</servlet-name>
    <url-pattern>/SalaryStandardDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TitleServlet</display-name>
    <servlet-name>TitleServlet</servlet-name>
    <servlet-class>com.xiaojian.web.TitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleServlet</servlet-name>
    <url-pattern>/Title</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.xiaojian.web.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDao</display-name>
    <servlet-name>StaffDao</servlet-name>
    <servlet-class>com.xiaojian.dao.StaffDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDao</servlet-name>
    <url-pattern>/StaffDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StandardServlet</display-name>
    <servlet-name>StandardServlet</servlet-name>
    <servlet-class>com.xiaojian.web.StandardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandardServlet</servlet-name>
    <url-pattern>/standard</url-pattern>
  </servlet-mapping>
</web-app>